@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 40px;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 #00000033;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.main-container {
  flex-grow: 1;
}

.main-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.nav-menu {
  max-width: 600px;
}

.user-menu {
  max-width: 300px;
}

.favorites-count {
  font-size: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  text-align: center;
  background-color: #82A0D3;
  background-image:
    url("../images/hero_devider.svg"),
    url("../images/hero_background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position:
    left bottom,
    left top;
}

.advantages {
  text-align: center;
}

.advantages-intro-container {
  width: 660px;
  margin: 0 auto;
}

.advantages h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.24);
}

.advantages-item.advantages-item-accent {
  width: 100%;
  flex-grow: 1;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-accent .advantages-title{
  color: #FFFFFF;
}

.services {
  text-align: center;
}

.services-intro-container {
  width: 510px;
  margin: 0 auto;
}

.services h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.services-main-description {
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 400px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/subscribe_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.newsletter-intro-container {
  width: 475px;
  margin: 0 auto;
}

.newsletter h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.newsletter-form input[type="email"] {
  font-family: "PT Sans", sans-serif;
}
.newsletter-form input[type="email"]::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
}

.catalog-header {
  padding: 0 70px;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/filter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.price-inputs input[type="number"] {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-label-from,
.price-label-to {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-button {
  background-color: #82B3D3;
}

.catalog-filter-reset {
  background-color: transparent;
}

.catalog {
  padding: 0 70px;
}

.catalog-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-sorting-panel {
  display: flex;
  align-items: center;
}

.catalog-sort {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #FFFFFF;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-link {
  color: #000000;
  text-decoration: none;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-favorite {
  background-color: #82B3D3;
}

.hotel-favorite-added {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current .pagination-link {
  color: #000000;
  background-color: #F2F2F2;
}

.catalog-newsletter {
  color: #333333;
  background-color: transparent;
  background-image: none;
}

.catalog-newsletter h2 {
  color: #000000;
}
